* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 96%); /* Fondo gris claro */
}
header {
    width: 100%;
    height: 80px;
    background-color: #000; /* Negro */
    font-size: 40px;
    color: #fff; /* Blanco */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    height: auto;
    width: 100%;
    margin-top: 80px;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #000; /* Texto negro */
    display: flex;
}
.section_title {
    font-size: 30px;
    border: 3px solid #000; /* Borde negro */
    padding: 14px;
}
.buttons_list {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#left {
    width: 180px;
    min-height: calc(100vh - 70px); 
    background-color: #ccc; /* Gris claro */
    position: fixed;
    top: 70px;
    left: 0;
    padding-top: 10px;
}
#user_info {
    margin-top: 50px;
    margin-left: 200px; 
    padding: 20px;
    width: 300px;
    background-color: #f4f4f4; /* Fondo gris claro */
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    width: 100%;
    height: 40px;
    background-color: #000; /* Negro */
    text-align: center;
    padding-top: 10px;
    color: #fff; /* Blanco */
    position: fixed;
    bottom: 0;
    left: 0;
}
.pfp {
    margin: 25px;
    border: 2px solid #000; /* Borde negro */
    width: 200px;
    height: 200px;
    background: #fff; /* Blanco */
}
button {
    background: #0070c9; /* Azul oscuro */
    color: #fff; /* Blanco */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}
.buttons-content {
    margin: 20px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-main-maestro {
    margin: 20px;
}
.button-content {
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    width: 200px;
}
.chpass_button {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.menu {
    padding: 4.5px;
    margin: 10px;
}
.button-menu {
    padding: 12px 50px;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3; /* Azul más claro al pasar el mouse */
}
.horario {
    border: 2px solid #000; /* Borde negro */
}
.p_instrucciones {
    font-size: 18px;
    margin: 18px;
}
.observation-label {
    display: block;
    background-color: #fff; /* Blanco */
    color: #000; /* Texto negro */
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    text-align: left;
    width: 100%;
}
.hidden {
    display: none;
}
.campo-form {
    border-radius: 5px;
    width: 70%;
    height: 30px;
    margin: 10px;
}
.hora-qr {
    border-radius: 5px;
    width: 70%;
    height: 30px;
    margin: 10px;
    text-align: center;
}
.qr {
    background-color: #fff; /* Blanco */
    margin-left: 200px;
    margin-right: 105px;
}
.user-list {
    list-style-type: none;
    padding: 0;
}
.user-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin: 20px;
    font-size: 20px;
}
.button-list {
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    width: 200px;
}
/* Calendario */
.calendar-container {
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 800px;
    background-color: #f4f4f4; /* Fondo gris claro */
    border-radius: 10px;
}
.calendar-table {
    width: 100%;
}
.calendar-table th, .calendar-table td {
    border: 1px solid #000; /* Borde negro */
    padding: 10px;
    text-align: center;
}
.calendar-table th {
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
}
/* Materias - Grupos */
.materia {
    margin: 20px 0;
}
.materia-button {
    background: #666; /* Gris oscuro */
    color: #fff; /* Blanco */
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
}
.materia-button:hover {
    color: #060f14; /* Azul oscuro al pasar el mouse */
}
.grupo-container {
    display: none;
    margin-top: 10px;
}

.observation-container {
    margin-bottom: 50px;
}

.observation-text {
    margin-top: 10px; /* Ajusta este valor según el espacio que desees */
    padding: 10px;    /* Añade un poco de espacio interno */
    border: 1px solid black; /* Añade un borde negro de 1px */
    background-color: #f9f9f9; /* Fondo claro para mejorar la visibilidad */
}
